.services-container {
  margin: 10px;
}
  
mat-card {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  transition: box-shadow 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
  
mat-card:hover {
  box-shadow: 0 4px 8px rgba(85, 223, 228, 0.2);
}
  
mat-grid-tile {
  display: flex;
  justify-content: center;
}
  
mat-card-actions {
  justify-content: flex-end;
}

mat-card img[mat-card-image] {
  width: 30%; 
  height: auto; 
  object-fit: cover; 
}

mat-horizontal-stepper {
  width: 100%; 
}

mat-step-header {
  background-color: transparent; 
  color: #333; 
}

.services-container {
  padding: 20px;
}

.mat-h2 {
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .mat-grid-list {
      grid-template-columns: repeat(1, 1fr) !important; /* Forces one column on mobile */
  }
  mat-horizontal-stepper {
    display: none; /* Hide horizontal stepper */
  }

  mat-vertical-stepper {
    display: block; /* Show vertical stepper instead */
  }


}
  