<!-- Contact Banner -->
<div class="relative bg-cover bg-center h-80" style="background-image: url('assets/images/greeny.jpg');">
    <div class="absolute inset-0 bg-black bg-opacity-20 flex items-center justify-center">
      <h1 class="text-white text-4xl font-josefin font-bold">Kontakta oss</h1>
    </div>
  </div>
  
  <!-- Contact Information and Form -->
  <div class="container mx-auto px-4 py-8 md:flex md:space-x-8">
    <!-- Contact Details -->
    <div class="md:w-1/2 bg-white p-6 shadow-md rounded-lg mb-8 md:mb-0">
      <h2 class="text-2xl font-bold mb-4">Kontakta oss</h2>
      <p class="mb-2"><strong>Email:</strong> info&#64;fijab.com</p>
      <p class="mb-2"><strong>Telefon:</strong> 0123-456789</p>
      <p class="mb-2"><strong>Adress:</strong> Olle-jänsvägen 6, Fåker</p>
    </div>
    <!-- Contact Form -->
    <div class="md:w-1/2 bg-white p-6 shadow-md rounded-lg">
      <h2 class="text-2xl font-bold mb-4">Tveka inte att kontakta oss!</h2>
      <!--here goes contact form component-->
    </div>
  </div>
  
  <!-- Google Map -->
  <div class="container mx-auto px-4 py-8">
    <div class="relative" style="padding-top: 56.25%;">
      <iframe
        class="absolute top-0 left-0 w-full h-full border-0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1812.1902001726833!2d14.576188611968924!3d62.98629011303072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x466fa4e399e9087b%3A0x1aef4befc4e69bfe!2zT2xsZS1qw6Ruc3bDpGdlbiA2LCA4NDUgOTMgRsOla2Vy!5e0!3m2!1ssv!2sse!4v1713443474571!5m2!1ssv!2sse"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
  
  