<div class="contact-banner" style="background-image: url('assets/images/contact.JPG');">
    <h1 class="banner-title">Kontakta oss</h1>
</div>

<div class="contact-form">
    <h2>Vi älskar att höra från dig! Tveka inte att dela dina tankar med oss</h2>
    <app-contact-form></app-contact-form>
</div>

<!-- Address Section -->
<div class="address-section">
    <h2>Vi är tillgängliga på flera olika sätt</h2>
    <div class="contact-info">
      <div class="contact-column">
        <p><strong>Telefon:</strong> +46 123 456 789</p>
        <p><strong>Email:</strong> infofijab.com</p>
      </div>
      <div class="contact-column">
        <p><strong>Adress:</strong>Olle-jänsvägen 6, Fåker</p>
        <p><strong>Facebook:</strong> <a href="https://www.facebook.com/fijab">fijab</a></p>
      </div>
    </div>
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1812.1902001726833!2d14.576188611968924!3d62.98629011303072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x466fa4e399e9087b%3A0x1aef4befc4e69bfe!2zT2xsZS1qw6Ruc3bDpGdlbiA2LCA4NDUgOTMgRsOla2Vy!5e0!3m2!1ssv!2sse!4v1713443474571!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
  