<!-- Contact Banner -->
<div class="relative bg-cover bg-center h-80" style="background-image: url('assets/images/responsiv-webbdesign-ostersund.jpg');">
  <div class="absolute inset-0 bg-black bg-opacity-10 flex items-center justify-center">
    <h1 class="text-white text-4xl font-josefin font-bold">{{ 'CONTACT_PAGE.BANNER_TITLE' | translate }}</h1>
  </div>
</div>

<!-- Contact Information and Form -->
<div class="w-full py-6 md:py-12 lg:py-20 dark:bg-black">
  <h2 class="text-3xl font-josefin font-bold text-dark-green mt-8 text-center dark:text-pastel-green">
    {{ 'CONTACT_PAGE.INFO_TITLE' | translate }}
  </h2>
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-center mt-8">
    <div class="w-full md:w-1/2 p-4">
      <app-contact-form></app-contact-form>
    </div>
    <div class="w-full md:w-1/2 p-4">
      <img src="assets/images/fijab address.jpg" alt="webbyrå i Östersund" class="w-full h-auto rounded-lg shadow-lg">
    </div>
  </div>
</div>

<!-- Additional Information Section -->
<div class="w-full py-6 md:py-8 lg:py-10 bg-gray-100 dark:bg-gray-800">
  <div class="container mx-auto text-center">
    <h3 class="text-2xl font-josefin font-bold text-dark-green mb-4 dark:text-pastel-green">
      {{ 'CONTACT_PAGE.ADDITIONAL_INFO_TITLE' | translate }}
    </h3>
    <p class="text-gray-700 dark:text-gray-300 font-poppins max-w-3xl mx-auto">
      {{ 'CONTACT_PAGE.ADDITIONAL_INFO_DESCRIPTION' | translate }}
    </p>
  </div>
</div>

<!-- Contact Details Section -->
<div class="w-full py-6 md:py-12 lg:py-20 dark:bg-gray-900">
  <div class="text-center mb-12">
    <h2 class="text-3xl text-dark-green font-josefin font-bold mt-8 mb-4 dark:text-pastel-green">
      {{ 'CONTACT_PAGE.LOCATION_TITLE' | translate }}
    </h2>
  </div>
  <div class="flex flex-col md:flex-row justify-center space-y-8 md:space-y-0 md:space-x-8">
    <a href="tel:0722230044">
      <div class="flex-1 text-center p-6 rounded-lg">
        <img src="assets/icons/phone.png" alt="Phone Icon" class="inline-block h-7 mb-2" />
        <h3 class="text-xl font-josefin font-bold text-pastel-green mb-2">
          {{ 'CONTACT_PAGE.PHONE_TITLE' | translate }}
        </h3>
        <p class="font-poppins text-gray-600 dark:text-gray-100">
          {{ 'CONTACT_PAGE.PHONE_NUMBER' | translate }}
        </p>
      </div>
    </a>
    <div class="border-l border-gray-400 h-40 mx-4 hidden md:block"></div>
    <a
      target="_blank"
      href="https://www.google.se/maps/dir//Olle-j%C3%A4nsv%C3%A4gen+6,+845+93+F%C3%A5ker/@62.9862901,14.576194,17z/data=!4m18!1m8!3m7!1s0x466fa4e399e9087b:0x1aef4befc4e69bfe!2zT2xsZS1qw6Ruc3bDpGdlbiA2LCA4NDUgOTMgRsOla2Vy!3b1!8m2!3d62.9862877!4d14.5787689!16s%2Fg%2F11c4rh8rt2!4m8!1m0!1m5!1m1!1s0x466fa4e399e9087b:0x1aef4befc4e69bfe!2m2!1d14.5787689!2d62.9862877!3e4?entry=ttu"
    >
      <div class="flex-1 text-center p-6 rounded-lg">
        <img src="assets/icons/address.png" alt="Address Icon" class="inline-block h-7 mb-2" />
        <h3 class="text-xl font-josefin font-bold text-pastel-green mb-2">
          {{ 'CONTACT_PAGE.ADDRESS_TITLE' | translate }}
        </h3>
        <p class="font-poppins text-gray-600 dark:text-gray-100">
          {{ 'CONTACT_PAGE.ADDRESS_DETAIL' | translate }}
        </p>
      </div>
    </a>
    <div class="border-l border-gray-400 h-40 mx-4 hidden md:block"></div>
    <a href="mailto:info@fijab.se">
      <div class="flex-1 text-center p-6 rounded-lg">
        <img src="assets/icons/email.png" alt="Email Icon" class="inline-block h-7 mb-2" />
        <h3 class="text-xl font-josefin font-bold text-pastel-green mb-2">
          {{ 'CONTACT_PAGE.EMAIL_TITLE' | translate }}
        </h3>
        <p class="font-poppins text-gray-600 dark:text-gray-100">
          {{ 'CONTACT_PAGE.EMAIL_ADDRESS' | translate }}
        </p>
      </div>
    </a>
  </div>
</div>



<!-- Google Map -->
<div class="w-full py-6 md:py-12 lg:py-20 dark:bg-gray-900">
  <div class="relative" style="padding-top: 56.25%;">
    <iframe
      class="absolute top-0 left-0 w-full h-full border-0"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1812.1902001726833!2d14.576188611968924!3d62.98629011303072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x466fa4e399e9087b%3A0x1aef4befc4e69bfe!2zT2xsZS1qw6Ruc3bDpGdlbiA2LCA4NDUgOTMgRsOla2Vy!5e0!3m2!1ssv!2sse!4v1713443474571!5m2!1ssv!2sse"
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>

<app-scroll-to-top></app-scroll-to-top>


  
  