<section class="w-full py-16 md:py-28 lg:py-40 bg-cover bg-center bg-no-repeat bg-[url('/assets/images/webbdesign-jamtland.jpg')]">
  <div class="container mx-auto px-4 md:px-6">
    <div class="text-center max-w-3xl mx-auto">
      <h1 class="font-josefin text-gray-50 font-bold sm:text-4xl md:text-5xl">{{ 'MAIN_TITLE' | translate }}</h1>
      <p class="font-raleway mt-4 text-slate-50 md:text-xl dark:text-gray-100">{{ 'MAIN_SUBTITLE' | translate }}</p>
    </div>
  </div>
</section>

<section class="w-full py-12 md:py-24 lg:py-32 dark:bg-zinc-900">
  <div class="container mx-auto grid gap-8 px-4 md:grid-cols-2 md:gap-12 md:px-6">
    <div class="flex flex-col items-start justify-center space-y-6 text-left">
      <h2 class="font-poppins font-bold text-xl sm:text-3xl md:text-4xl text-slate-700 dark:text-pastel-green">
        {{ 'EXPLORE_TITLE' | translate }}
      </h2>
      <p class="font-poppins text-gray-500 text-base md:text-lg dark:text-gray-400">
        {{ 'EXPLORE_DESCRIPTION' | translate }}
      </p>
      <a class="inline-flex items-center justify-center h-10 px-10 font-semibold rounded-md bg-pastel-green text-lg text-white shadow transition hover:bg-[#518A84] focus:outline-none focus:ring-2 focus:ring-gray-900"
         href="/contact">
        {{ 'GET_STARTED' | translate }}
      </a>
    </div>
    <img src="/assets/images/hur vi jobbar.jpg" alt="{{ 'ALT_JOB_ANALYSIS' | translate }}" class="mx-auto w-full max-w-md rounded-xl object-cover">
  </div>
</section>

<section class="w-full py-12 md:py-24 lg:py-32 bg-neutral-100 bg-cover bg-center bg-no-repeat bg-[url('/assets/images/mobilanpassad-hemsida-jamtland.jpg')]">
  <div class="container mx-auto px-4 md:px-6">
    <div class="text-center max-w-3xl mx-auto">
      <h2 class="font-josefin text-zinc-50 font-semibold text-3xl sm:text-4xl md:text-5xl">
        {{ 'SERVICES_TITLE' | translate }}
      </h2>
      <p class="font-poppins mt-4 text-zinc-200 md:text-xl dark:text-gray-400">
        {{ 'SERVICES_DESCRIPTION' | translate }}
      </p>
    </div>
    <div class="mx-auto mt-10 grid max-w-5xl grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      <div class="rounded-lg border border-gray-100 bg-white p-6 shadow-sm transition-colors hover:bg-gray-100 dark:border-gray-800 dark:bg-gray-950 dark:hover:bg-gray-800">
        <div class="flex h-12 w-12 items-center justify-center rounded-full bg-gray-900 text-gray-50 dark:bg-gray-50 dark:text-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
            <path d="M16 20V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
            <rect width="20" height="14" x="2" y="6" rx="2"></rect>
          </svg>
        </div>
        <h3 class="font-poppins mt-4 text-lg dark:text-gray-100">{{ 'BUSINESS_CONSULTING' | translate }}</h3>
        <p class="mt-2 text-gray-500 dark:text-gray-400">{{ 'BUSINESS_CONSULTING_DESCRIPTION' | translate }}</p>
      </div>
      <div class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm transition-colors hover:bg-gray-100 dark:border-gray-800 dark:bg-gray-950 dark:hover:bg-gray-800">
        <div class="flex h-12 w-12 items-center justify-center rounded-full bg-gray-900 text-gray-50 dark:bg-gray-50 dark:text-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
            <polyline points="16 18 22 12 16 6"></polyline>
            <polyline points="8 6 2 12 8 18"></polyline>
          </svg>
        </div>
        <h3 class="font-poppins mt-4 text-lg dark:text-gray-100">{{ 'SOFTWARE_DEVELOPMENT' | translate }}</h3>
        <p class="mt-2 text-gray-500 dark:text-gray-400">{{ 'SOFTWARE_DEVELOPMENT_DESCRIPTION' | translate }}</p>
      </div>
      <div class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm transition-colors hover:bg-gray-100 dark:border-gray-800 dark:bg-gray-950 dark:hover:bg-gray-800">
        <div class="flex h-12 w-12 items-center justify-center rounded-full bg-gray-900 text-gray-50 dark:bg-gray-50 dark:text-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
            <path d="m12.83 2.18a2 2 0 0 0-1.66 0L2.6 6.08a1 1 0 0 0 0 1.83l8.58 3.91a2 2 0 0 0 1.66 0l8.58-3.9a1 1 0 0 0 0-1.83Z"></path>
            <path d="m22 17.65-9.17 4.16a2 2 0 0 1-1.66 0L2 17.65"></path>
            <path d="m22 12.65-9.17 4.16a2 2 0 0 1-1.66 0L2 12.65"></path>
          </svg>
        </div>
        <h3 class="font-poppins mt-4 text-lg dark:text-gray-100">{{ 'DIGITAL_MARKETING' | translate }}</h3>
        <p class="mt-2 text-gray-500 dark:text-gray-400">{{ 'DIGITAL_MARKETING_DESCRIPTION' | translate }}</p>
      </div>
      <div class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm transition-colors hover:bg-gray-100 dark:border-gray-800 dark:bg-gray-950 dark:hover:bg-gray-800">
        <div class="flex h-12 w-12 items-center justify-center rounded-full bg-gray-900 text-gray-50 dark:bg-gray-50 dark:text-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
            <path d="M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z"></path>
          </svg>
        </div>
        <h3 class="font-poppins mt-4 text-lg dark:text-gray-100">{{ 'UX_DESIGN' | translate }}</h3>
        <p class="mt-2 text-gray-500 dark:text-gray-400">{{ 'UX_DESIGN_DESCRIPTION' | translate }}</p>
      </div>
    </div>
  </div>
</section>

<section class="w-full py-12 md:py-24 lg:py-32 dark:bg-black">
  <div class="container mx-auto px-4 md:px-6">
    <div class="text-center max-w-3xl mx-auto">
      <h2 class="font-josefin text-3xl text-dark-green font-semibold sm:text-4xl md:text-5xl dark:text-pastel-green">
        {{ 'FAQ.TITLE' | translate }}
      </h2>
      <p class="font-poppins mt-4 text-gray-500 md:text-xl dark:text-gray-400">
        {{ 'FAQ.DESCRIPTION' | translate }}
      </p>
    </div>
    <div class="mt-10 max-w-3xl mx-auto space-y-4">
      <app-faq-section
        [question]="'FAQ.QUESTION1' | translate"
        [answer]="'FAQ.ANSWER1' | translate"
      ></app-faq-section>
      <app-faq-section
        [question]="'FAQ.QUESTION2' | translate"
        [answer]="'FAQ.ANSWER2' | translate"
      ></app-faq-section>
      <app-faq-section
        [question]="'FAQ.QUESTION3' | translate"
        [answer]="'FAQ.ANSWER3' | translate"
      ></app-faq-section>
    </div>
  </div>
</section>


<section class="w-full py-12 md:py-24 lg:py-32 bg-zinc-50 dark:bg-gray-900">
  <div class="container mx-auto px-4 md:px-6">
    <div class="mx-auto max-w-3xl text-center">
      <h2 class="font-josefin font-semibold text-zinc-600 text-3xl sm:text-4xl md:text-5xl dark:text-pastel-green">
        {{ 'WHY_CHOOSE_US' | translate }}
      </h2>
      <p class="font-poppins mt-4 text-gray-500 md:text-xl dark:text-gray-400">
        {{ 'WHY_CHOOSE_US_DESCRIPTION' | translate }}
      </p>
    </div>
    <div class="mx-auto mt-10 grid max-w-5xl grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
      <div class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm transition-colors hover:bg-gray-100 dark:border-gray-800 dark:bg-gray-950 dark:hover:bg-gray-950">
        <div class="flex h-12 w-12 items-center justify-center text-gray-50 dark:bg-black">
          <img src="/assets/icons/icon1.svg" alt="{{ 'CUSTOM_ICON_ALT' | translate }}">
        </div>
        <h3 class="font-raleway mt-4 text-lg font-semibold text-dark-green dark:text-pastel-green">
          {{ 'INDUSTRY_LEADING_EXPERTISE' | translate }}
        </h3>
        <p class="mt-2 text-gray-500 dark:text-slate-300">
          {{ 'INDUSTRY_LEADING_EXPERTISE_DESCRIPTION' | translate }}
        </p>
      </div>
      <div class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm transition-colors hover:bg-gray-100 dark:border-gray-800 dark:bg-gray-950 dark:hover:bg-gray-950">
        <div class="flex h-12 w-12 items-center justify-center text-gray-50 dark:bg-black dark:text-gray-900">
          <img src="/assets/icons/icon2.svg" alt="{{ 'CUSTOM_ICON_ALT' | translate }}">
        </div>
        <h3 class="font-raleway mt-4 text-lg font-semibold text-dark-green dark:text-pastel-green">
          {{ 'INNOVATIVE_SOLUTIONS' | translate }}
        </h3>
        <p class="mt-2 text-gray-500 dark:text-slate-300">
          {{ 'INNOVATIVE_SOLUTIONS_DESCRIPTION' | translate }}
        </p>
      </div>
      <div class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm transition-colors hover:bg-gray-100 dark:border-gray-800 dark:bg-gray-950 dark:hover:bg-gray-950">
        <div class="flex h-12 w-12 items-center justify-center text-gray-50 dark:bg-black dark:text-gray-900">
          <img src="/assets/icons/icon3.svg" alt="{{ 'CUSTOM_ICON_ALT' | translate }}">
        </div>
        <h3 class="font-raleway mt-4 text-lg font-semibold text-dark-green dark:text-pastel-green">
          {{ 'CLIENT_SATISFACTION' | translate }}
        </h3>
        <p class="mt-2 text-gray-500 dark:text-slate-300">
          {{ 'CLIENT_SATISFACTION_DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<app-scroll-to-top></app-scroll-to-top>

