<div class="hero-section" style="background-image: url('assets/images/hero-bg.jpg');">
  <div class="hero-content">
    <h1>Din digitala partner i Jämtland</h1>
    <p>där visionen möter verklighet</p>
    <button class="contact-us-button">Kontakta oss</button>
  </div>
</div>

<div class="services-section">
  <h2>Utforska framtidens digitala möjligheter med FIJAB</h2>
  <div class="service-cards">
    <div class="card">
      <img src="assets/icons/service-icon1.png" alt="Icon 1">
      <h3>Frontendutveckling</h3>
      <p>Description of Service One.</p>
      <button>Läs mer</button>
    </div>
    <div class="card">
      <img src="assets/icons/service-icon2.png" alt="Icon 2">
      <h3>Backendutveckling</h3>
      <p>Description of Service Two.</p>
      <button>Läs mer</button>
    </div>
    <div class="card">
      <img src="assets/icons/service-icon3.png" alt="Icon 3">
      <h3>Design</h3>
      <p>Description of Service Three.</p>
      <button>Läs mer</button>
    </div>
  </div>
</div>

<div class="why-us" style="background-color: #EAE8E3;">
  <h2>Varför välja oss?</h2>
  <p>I en värld där digital närvaro blir alltmer avgörande, står vi ut genom att kombinera vår passion för teknik med den unika kraften i vår lokala gemenskap. Här är anledningarna till att välja oss som din digitala partner:</p>
  <div class="content">
    <div class="left-column">
      <img src="assets/images/why.JPG" alt="Why Choose Us Image">
    </div>
    <div class="right-column">
      <ul>
        <li>Lokal närvaro med global räckvidd</li>
        <li>Hållbarhet i fokus</li>
        <li>Transparenta och rättvisa priser</li>
      </ul>
    </div>
  </div>
</div>

<div class="faq-section">
  <div class="image-faq">
    <img src="assets/images/faq.jpg" alt="Descriptive Image">
  </div>
  <app-faq-section></app-faq-section> 
</div>

<div class="contact-section">
  <h2>Vi älskar att höra från dig! Tveka inte att dela dina tankar med oss</h2>
  <div class="contact-content">
    <app-contact-form></app-contact-form>
    <div class="image-container">
      <img src="assets/images/contactus.JPG" alt="Descriptive Alt Text">
    </div>
  </div>
</div>

