<footer class="bg-gray-800 text-gray-300 py-8">
    <div class="container mx-auto px-4 text-center">
      <!-- Logo -->
      <div class="mb-4">
        <img src="/assets/images/logo/logo white.png" alt="Logo" class="mx-auto h-10">
      </div>
  
      <!-- Policies -->
      <div class="mb-4">
        <ul class="flex justify-center space-x-6">
          <li><a href="/cookies" class="hover:text-white">Cookies</a></li>
        </ul>
      </div>
  
      <!-- Year and Copyright -->
      <div>
        <p>&copy; {{ currentYear }} FIJAB. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
