<footer class="bg-sandy text-zinc-950 py-6 sm:py-10 font-poppins">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 flex flex-col sm:flex-row items-center justify-between space-y-4 sm:space-y-0">
      <div class="flex items-center">
          <img src="/assets/images/logo/logo.png" alt="FIJAB logo" class="h-8 w-8">
          <span class="ml-2 text-lg font-light font-poppins">FIJAB</span>
      </div>
      <div class="flex space-x-4">
          <a href="#" class="hover:text-white transition-colors">
              Cookies
          </a>
          <a href="#" class="hover:text-white transition-colors">
              Kontakta oss
          </a>
      </div>
  </div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 mt-4 text-center text-sm">
      © 2024 FIJAB. All rights reserved.
  </div>
</footer>
