<div class="header-container">
  <div class="header-logo">
    <img src="assets/images/logo/logo.png" alt="FIJAB Logo"> 
    <span>FIJAB</span>
  </div>
  <div class="header-right">
    <ul class="header-nav">
        <li><a routerLink="/" routerLinkActive="active">Hem</a></li>
        <li><a routerLink="/services">Tjänster</a></li>
        <li><a routerLink="/blog">Blogg</a></li>
        <li><a routerLink="/about-us">Om oss</a></li>
        <li><a routerLink="/contact">Kontakt</a></li>

    </ul>
    <div class="language-switcher">
        <span class="language">SV</span> | <span class="language">EN</span>
    </div>
</div>
</div>