.underline-offset-8:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  nav.md\\:hidden {
    transition: all 0.3s ease-in-out;
  }
  
  nav.md\\:hidden.block {
    display: block;
  }