<div class="header-container">
  <div class="header-logo">
    <img src="assets/images/logo/logo.png" alt="FIJAB Logo">
    <span>FIJAB</span>
  </div>
  <button class="hamburger" aria-label="Toggle navigation" (click)="toggleMenu()">&#9776;</button>
  <div class="header-right">
    <ul class="header-nav" [class.mobile-visible]="isMenuVisible">
      <li><a routerLink="/" routerLinkActive="active">{{ 'home' | translate }}</a></li>
      <li><a routerLink="/services">{{ 'services' | translate }}</a></li>
      <li><a routerLink="/blog">{{ 'blog' | translate }}</a></li>
      <li><a routerLink="/about-us">{{ 'aboutUs' | translate }}</a></li>
      <li><a routerLink="/contact">{{ 'contact' | translate }}</a></li>
      <!-- Language Switcher -->
      <ng-container *ngIf="isMenuVisible">
        <li *ngFor="let locale of localesList" class="mobile-language-switcher">
          <span class="language" (click)="switchLanguage(locale.code)">{{ locale.label }}</span>
        </li>
      </ng-container>
      <li class="language-switcher">
        <span class="language" (click)="switchLanguage('sv')">sv</span> | <span class="language" (click)="switchLanguage('en')">en</span>
      </li>
    </ul>
  </div>
</div>




