<div class="max-w-md mx-auto mt-10">
  <form class="bg-white px-8 pt-6 pb-8 mb-4">
    <h2 class="text-2xl font-josefin font-bold text-dark-green mb-4 text-center">Tveka inte att kontakta oss!</h2>
    <div class="mb-4">
      <label class="sr-only" for="name">Namn <span>*</span></label>
      <input class="shadow appearance-none border-none w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline placeholder-gray-400 bg-stone-100" id="name" type="text" placeholder="Namn">
    </div>
    <div class="mb-4">
      <label class="sr-only" for="email">E-post *</label>
      <input class="shadow appearance-none border-none w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline placeholder-gray-400 bg-stone-100" id="email" type="email" placeholder="E-post">
    </div>
    <div class="mb-4">
      <label class="sr-only" for="mobile">Mobil (valfritt)</label>
      <input class="shadow appearance-none border-none w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline placeholder-gray-400 bg-stone-100" id="mobile" type="tel" placeholder="Mobil (valfritt)">
    </div>
    <div class="mb-4">
      <label class="sr-only" for="message">Meddelande *</label>
      <textarea class="shadow appearance-none border-none w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline placeholder-gray-400 bg-stone-100" id="message" placeholder="Meddelande" rows="5"></textarea>
    </div>
    <div class="flex items-center justify-center">
      <button class="bg-pastel-green hover:bg-dark-green text-white font-josefin font-bold py-2 px-4 focus:outline-none focus:shadow-outline" type="button">
        Skicka
      </button>
    </div>
  </form>
</div>

  


