<div class="container mx-auto p-4" *ngIf="blog">
  <h1 class="text-3xl font-bold">{{ blog.title }}</h1>
  <p class="text-gray-600">{{ blog.author }} - {{ blog.date | date }}</p>

  <!-- Table of Contents -->
  <div class="bg-gray-100 p-3 rounded mt-4">
    <h2 class="text-lg font-semibold">Table of Contents</h2>
    <ul>
      <li *ngFor="let section of sections">
        <a href="#" (click)="scrollToSection($event, section.id)"
           [class.text-blue-500]="activeSectionId === section.id"
           class="hover:underline">
          {{ section.title }}
        </a>
      </li>
    </ul>
  </div>

  <!-- Blog Content -->
  <div class="blog-content mt-6" [innerHTML]="safeContent"></div>
</div>


  
  
  
  
  
  
  
  
  
  
