<div *ngIf="isVisible" class="fixed bottom-0 left-0 right-0 bg-gray-800 text-white p-4 flex justify-between items-center z-50">
    <span>
        Vi använder cookies för att förbättra din upplevelse. Genom att fortsätta godkänner du vår
        <a href="https://www.fijab.se/cookies-info" target="_blank" rel="noopener noreferrer" class="underline hover:text-pastel-green">användning av cookies</a>.
    </span>
    <button (click)="acceptCookies()" class="bg-dark-green text-white px-4 py-2 rounded">Godkänn</button>
  </div>
  
