<div class="banner" style="background-image: url('assets/images/contact.JPG');">
    <h1>Om oss</h1>
</div>
<div class="content">
    <div class="section text-right">
        <h2>Our story</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget est cursus, dapibus libero eget, egestas nisi. Curabitur pretium velit non est malesuada dictum. Proin a feugiat felis, eu aliquet augue. Nulla varius ultrices mi non fringilla. Duis metus massa, tempor vel condimentum ac, congue ut sem. Pellentesque vitae ultricies neque. Duis dapibus lorem vel eros molestie egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <img src="assets/company-image1.jpg" alt="Our Company">
    </div>
    <div class="section text-left">
        <h2>Our values</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget est cursus, dapibus libero eget, egestas nisi. Curabitur pretium velit non est malesuada dictum. Proin a feugiat felis, eu aliquet augue. Nulla varius ultrices mi non fringilla. Duis metus massa, tempor vel condimentum ac, congue ut sem. Pellentesque vitae ultricies neque. Duis dapibus lorem vel eros molestie egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <img src="assets/company-image2.jpg" alt="Our Workspace">
    </div>
</div>
  
